In [13]:
# Import pandas to access and manipulate our data
import pandas as pd

# Establish contact with the csv data files
data_1 = "Raw Data/XAU_USD 12-1979 to 01-1885.csv"
data_2 = "Raw Data/XAU_USD 01-1985 to 01-2000.csv"
data_3 = "Raw Data/XAU_USD 01-2000 to 12-2010.csv"
data_4 = "Raw Data/XAU_USD 12-2010 to 02-2021.csv"

# Read CSV with pandas
read_1 = pd.read_csv(data_1)
read_2 = pd.read_csv(data_2)
read_3 = pd.read_csv(data_3)
read_4 = pd.read_csv(data_4)

read_2.head

<bound method NDFrame.head of               Date   Price    Open    High     Low Change %
0     Jan 17, 2000  285.55  284.10  285.55  285.55    0.55%
1     Jan 14, 2000  284.00  284.20  284.00  284.00   -0.09%
2     Jan 13, 2000  284.25  282.60  284.25  284.25    0.63%
3     Jan 12, 2000  282.48  283.27  282.48  282.48   -0.32%
4     Jan 11, 2000  283.38  281.48  283.38  283.38    0.68%
...            ...     ...     ...     ...     ...      ...
3879  Jan 22, 1985  306.90  306.90  306.90  306.90   -0.10%
3880  Jan 21, 1985  307.20  307.20  307.20  307.20   -0.26%
3881  Jan 18, 1985  308.00  308.00  308.00  308.00    0.82%
3882  Jan 17, 1985  305.50  305.50  305.50  305.50    0.93%
3883  Jan 16, 1985  302.70  302.70  302.70  302.70    0.30%

[3884 rows x 6 columns]>

In [15]:
# Now we must merge our data into one table
# Because we are merging data accross the same columns we use pd.concat function
data_merged = pd.concat([read_1, read_2, read_3, read_4])

# Check our data order and number of rows - we reached the 10,000 data point minimum for NLP
data_merged.head

<bound method NDFrame.head of               Date     Price      Open      High       Low Change %
0     Jan 15, 1985     301.8     301.8     301.8     301.8    0.94%
1     Jan 14, 1985       299       299       299       299   -1.71%
2     Jan 11, 1985     304.2     304.2     304.2     304.2    0.13%
3     Jan 10, 1985     303.8     303.8     303.8     303.8    1.10%
4     Jan 09, 1985     300.5     300.5     300.5     300.5   -0.50%
...            ...       ...       ...       ...       ...      ...
2636  Jan 03, 2011  1,414.30  1,421.30  1,424.07  1,412.24   -0.50%
2637  Dec 31, 2010  1,421.45  1,406.15  1,423.15  1,405.25    1.21%
2638  Dec 30, 2010  1,404.45  1,411.35  1,414.95  1,402.55   -0.46%
2639  Dec 29, 2010  1,410.95  1,405.96  1,414.35  1,400.75    0.32%
2640  Dec 28, 2010  1,406.39  1,383.95  1,407.15  1,382.45    1.61%

[10664 rows x 6 columns]>

In [16]:

data_merged['Date'] = pd.to_datetime(data_merged['Date'])

data_sorted = data_merged.sort_values(by='Date')

data_sorted

           Date     Price      Open      High       Low Change %
1289 1979-12-27     515.5     515.5     515.5     515.5    3.31%
1288 1979-12-28       512       512       512       512   -0.68%
1287 1980-01-01       512       512       512       512    0.00%
1286 1980-01-02    559.75    559.75    559.75    559.75    9.33%
1285 1980-01-03    634.25    634.25    634.25    634.25   13.31%
...         ...       ...       ...       ...       ...      ...
4    2021-02-10  1,842.22  1,837.55  1,855.70  1,833.91    0.28%
3    2021-02-11  1,825.36  1,842.65  1,847.95  1,820.63   -0.91%
2    2021-02-12  1,823.46  1,825.90  1,830.80  1,810.33   -0.10%
1    2021-02-14  1,821.11  1,825.42  1,826.32  1,820.24   -0.13%
0    2021-02-15  1,818.54  1,821.14  1,827.10  1,817.82   -0.14%

[10664 rows x 6 columns]

In [18]:
# Run a count of dupicates in our data set in regards to 

data_sorted.duplicated(subset = 'Date').sum()

0

In [ ]:
# Calculate Percentage change in Price based on our closing prices, 
# rather than price variance within the day