In [18]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [19]:
url = 'Nasdaq (closing price).csv '
dataset = pd.read_csv(url)
full_set = dataset['NASDAQ 100'].values
dataset

             Date    NASDAQ 100
0      1979-12-27    150.229996
1      1979-12-28    150.830002
2      1979-12-31    151.139999
3      1980-01-02    148.169998
4      1980-01-03    145.970001
...           ...           ...
10367  2021-02-08  13987.639648
10368  2021-02-09  14007.700195
10369  2021-02-10  13972.530273
10370  2021-02-11  14025.769531
10371  2021-02-12  14095.469727

[10372 rows x 2 columns]

In [20]:
# We split our data on the 7200 mark as it represents 70% of it
train_data = full_set[:7200]
test_data = full_set[7200:]

In [21]:
# Data Normalization
from sklearn.preprocessing import MinMaxScaler
# Data must be reshaped in order to use fit_transform
training_set = train_data.reshape(-1,1)

sc = MinMaxScaler(feature_range=(0,1))

training_set_scaled = sc.fit_transform(training_set)

In [22]:
# Create lists for x and y train
X_train = []

y_train = []

# 252 is the number of time steps that will batch the data
for i in range(100,7200):
    
    X_train.append(training_set_scaled[i- 100:i,0])

    y_train.append(training_set_scaled[i, 0])

X_train, y_train = np.array(X_train), np.array(y_train)

X_train = np.reshape(X_train, (X_train.shape[0], X_train.shape[1], 1))

In [23]:
# Import the necessary models from keras within tensor flow
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM
from tensorflow.keras.layers import Dropout
from tensorflow.keras.layers import Dense

In [24]:
#.shape[1]
model = Sequential()
model.add(LSTM(units=50,return_sequences=True,input_shape=(X_train.shape[1], 1)))
model.add(Dropout(0.2))
model.add(LSTM(units=50,return_sequences=True))
model.add(Dropout(0.2))
model.add(LSTM(units=50,return_sequences=True))
model.add(Dropout(0.2))
model.add(LSTM(units=50))
model.add(Dropout(0.2))
model.add(Dense(units=1))
model.compile(optimizer='adam',loss='mean_squared_error')
model.fit(X_train,y_train,epochs=1,batch_size=100,verbose = 1)

71/71 [==============================] - 39s 439ms/step - loss: 0.0179

In [25]:
X_train.shape

(7100, 100, 1)

In [26]:
# Making Predictions to the test set


dataset_total = np.concatenate((train_data, test_data), axis = 0)


inputs = dataset_total[len(dataset_total) - len(test_data) - 100:]

inputs = inputs.reshape(-1,1)

inputs = sc.transform(inputs)

X_test = []

for i in range(100, 123):

    X_test.append(inputs[i-100:i,0])
    

X_test = np.array(X_test)

X_test = X_test.reshape((X_test, (X_test.shape[0], X_test.shape[1], 1))

SyntaxError: invalid syntax (<ipython-input-26-68c886eff936>, line 24)

In [11]:
Predicted_price = model.predict(X_test)
Predicted_price = sc.inverse_transform(predicted_nasdaq_price)

In [ ]:
# Running Example

# url = 'https://raw.githubusercontent.com/mwitiderrick/stockprice/master/tatatest.csv'

In [23]:
# url = 'https://raw.githubusercontent.com/mwitiderrick/stockprice/master/NSE-TATAGLOBAL.csv'
# dataset_train = pd.read_csv(url)
# training_set = dataset_train.iloc[:, 1:2].values

In [24]:
# dataset_train.head()

,Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
0,2018-09-28,234.05,235.95,230.20,233.50,233.75,3069914,7162.35
1,2018-09-27,234.55,236.80,231.10,233.80,233.25,5082859,11859.95
2,2018-09-26,240.00,240.00,232.50,235.00,234.25,2240909,5248.60
3,2018-09-25,233.30,236.75,232.00,236.25,236.10,2349368,5503.90
4,2018-09-24,233.55,239.20,230.75,234.00,233.30,3423509,7999.55

In [25]:
# from sklearn.preprocessing import MinMaxScaler
# sc = MinMaxScaler(feature_range=(0,1))
# training_set_scaled = sc.fit_transform(training_set)

In [27]:
# X_train = []
# y_train = []
# for i in range(60, 2035):
#     X_train.append(training_set_scaled[i-60:i, 0])
#     y_train.append(training_set_scaled[i, 0])
# X_train, y_train = np.array(X_train), np.array(y_train)
# X_train = np.reshape(X_train, (X_train.shape[0], X_train.shape[1], 1))

In [28]:
# X_train.shape

(1975, 60, 1)