In [1]:
# Declare dependencies
import pandas as pd

In [2]:
# Create dataframe from csv file

Bonds_Closing_Transposed = pd.read_csv('Bonds (closing price).csv') #,index_col=0
Gold_Closing_Transposed = pd.read_csv('Gold (closing price).csv')
Nasdaq_Closing_Transposed = pd.read_csv('Nasdaq (closing price).csv')
Nikkei_Closing_Transposed = pd.read_csv('Nikkei (closing price).csv')

In [3]:
Bonds_Closing_Transposed['Date'] = pd.to_datetime(Bonds_Closing_Transposed['Date'])
Bonds_Closing_Transposed = Bonds_Closing_Transposed[Bonds_Closing_Transposed['Date'].dt.is_month_start==2]
# Bonds_Closing_Transposed.dtypes

Gold_Closing_Transposed['Date'] = pd.to_datetime(Gold_Closing_Transposed['Date'])
Gold_Closing_Transposed = Gold_Closing_Transposed[Gold_Closing_Transposed['Date'].dt.is_year_end]
# Gold_Closing_Transposed.dtypes
Gold_Closing_Transposed

Nasdaq_Closing_Transposed['Date'] = pd.to_datetime(Nasdaq_Closing_Transposed['Date'])
Nasdaq_Closing_Transposed = Nasdaq_Closing_Transposed[Nasdaq_Closing_Transposed['Date'].dt.is_year_end]

Nikkei_Closing_Transposed['Date'] = pd.to_datetime(Nikkei_Closing_Transposed['Date'])
Nikkei_Closing_Transposed = Nikkei_Closing_Transposed[Nikkei_Closing_Transposed['Date'].dt.is_month_start]
Nikkei_Closing_Transposed

            Date    NIKKEI_225
21    1980-02-01   6777.640137
62    1980-04-01   6502.799805
83    1980-05-01   6865.080078
125   1980-07-01   6824.350098
148   1980-08-01   6788.299805
...          ...           ...
9946  2020-06-01  22062.390625
9968  2020-07-01  22121.730469
10009 2020-09-01  23138.070313
10069 2020-12-01  26787.539063
10109 2021-02-01  28091.050781

[319 rows x 2 columns]

In [4]:
Bonds_Closing_Transposed ['year'] = Bonds_Closing_Transposed['Date'].dt.year
Bonds_Closing_Transposed.drop(['Date'], axis=1, inplace=True)
Bonds_Closing_Transposed = Bonds_Closing_Transposed.set_index('year')
Bonds_Closing_Transposed

Gold_Closing_Transposed ['year'] = Gold_Closing_Transposed['Date'].dt.year
Gold_Closing_Transposed.drop(['Date'], axis=1, inplace=True)
Gold_Closing_Transposed = Gold_Closing_Transposed.set_index('year')
Gold_Closing_Transposed

Nasdaq_Closing_Transposed ['year'] = Nasdaq_Closing_Transposed['Date'].dt.year
Nasdaq_Closing_Transposed.drop(['Date'], axis=1, inplace=True)
Nasdaq_Closing_Transposed = Nasdaq_Closing_Transposed.set_index('year')
Nasdaq_Closing_Transposed

Nikkei_Closing_Transposed ['year'] = Nikkei_Closing_Transposed['Date'].dt.year
Nikkei_Closing_Transposed.drop(['Date'], axis=1, inplace=True)
Nikkei_Closing_Transposed = Nikkei_Closing_Transposed.set_index('year')
Nikkei_Closing_Transposed

        NIKKEI_225
year
1980   6777.640137
1980   6502.799805
1980   6865.080078
1980   6824.350098
1980   6788.299805
...            ...
2020  22062.390625
2020  22121.730469
2020  23138.070313
2020  26787.539063
2021  28091.050781

[319 rows x 1 columns]

In [5]:
Nikkei_Closing_Transposed

        NIKKEI_225
year
1980   6777.640137
1980   6502.799805
1980   6865.080078
1980   6824.350098
1980   6788.299805
...            ...
2020  22062.390625
2020  22121.730469
2020  23138.070313
2020  26787.539063
2021  28091.050781

[319 rows x 1 columns]

In [6]:
Bonds_Closing_ = Bonds_Closing_Transposed.transpose()
Bonds_Closing_

Empty DataFrame
Columns: []
Index: [Bonds_10year]

In [7]:
Gold_Closing_ = Gold_Closing_Transposed.transpose()
Gold_Closing_

year,1980,1981,1984,1985,1986,1987,1990,1991,1992,1993,...,2008,2009,2010,2012,2013,2014,2015,2018,2019,2020
XAU_USD,586.0,401.0,308.3,329.7,390.19,485.85,393.0,354.3,333.15,390.75,...,880.2,1096.2,1421.45,1674.95,1205.55,1183.95,1061.3,1282.82,1517.4,1896.49

In [9]:
Merged_Closing_ = pd.concat([Bonds_Closing_, Gold_Closing_,Nasdaq_Closing_Transposed,Nikkei_Closing_Transposed])
# Merged_Closing_.to_csv('Merge Tran (closing prices).csv')
Merged_Closing_.index.names = ["Name"]
Merged_Closing_.to_csv('Merge Tran (closing prices).csv')
Merged_Closing_

,1980,1981,1984,1985,1986,1987,1990,1991,1992,1993,...,2010,2012,2013,2014,2015,2018,2019,2020,NASDAQ_100,NIKKEI_225
Name,,,,,,,,,,,,,,,,,,,,,
Bonds_10year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
XAU_USD,586.0,401.0,308.3,329.7,390.19,485.85,393.0,354.3,333.15,390.75,...,1421.45,1674.95,1205.55,1183.95,1061.3,1282.82,1517.4,1896.49,NaN,NaN
1979,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,151.139999,NaN
1980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202.339996,NaN
1981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,195.839996,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22062.390625
2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22121.730469
2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23138.070313
2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26787.539063
2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28091.050781

In [ ]:
# # Add new value column based on price from Bonds_10year column
# Bonds_Closing_Transposed['value'] = Bonds_Closing_Transposed['Bonds_10year']
# Gold_Closing_Transposed['value'] = Gold_Closing_Transposed['XAU_USD']
# Nasdaq_Closing_Transposed['value'] = Nasdaq_Closing_Transposed['NASDAQ_100']
# Nikkei_Closing_Transposed['value'] = Nikkei_Closing_Transposed['NIKKEI_225']

# # Create new column with Name of index as the row values
# Bonds_Closing_Transposed['name'] = 'Bonds_10year'
# Gold_Closing_Transposed['name'] = 'XAU_USD'
# Nasdaq_Closing_Transposed['name'] = 'NASDAQ_100'
# Nikkei_Closing_Transposed['name'] = 'NIKKEI_225'

# # Remove unnecessary columns
# Bonds_Closing_Transposed = Bonds_Closing_Transposed.drop(['Bonds_10year'], axis = 1)
# Gold_Closing_Transposed = Gold_Closing_Transposed.drop(['XAU_USD'], axis = 1)
# Nasdaq_Closing_Transposed = Nasdaq_Closing_Transposed.drop(['NASDAQ_100'], axis = 1)
# Nikkei_Closing_Transposed = Nikkei_Closing_Transposed.drop(['NIKKEI_225'], axis = 1)

In [ ]:
# Bonds_Closing_ = Bonds_Closing_Transposed.transpose()
# Bonds_Closing_

In [ ]:
# Gold_Closing_Transposed

In [ ]:
# Nasdaq_Closing_Transposed

In [ ]:
# Nikkei_Closing_Transposed

In [ ]:
# #Merge all dataframes into one
# Merged_Closing_Transposed = pd.concat([Bonds_Closing_Transposed, Gold_Closing_Transposed, Nasdaq_Closing_Transposed, Nikkei_Closing_Transposed])


# # Save to a csv file
# Merged_Closing_Transposed.to_csv('Merge Transposed (closing prices).csv')
# Merged_Closing_Transposed

In [ ]:
# Merged_Closing_Transposed.groupby(Merged_Closing_Transposed['Date'])

In [ ]:
# Merged_Closing_Transposed